body, html {
    margin: 0 ;
    background-color: #333 ; 
    font-family: sans-serif ;
}

h2 {
    text-align: center ;
    margin: 0 ;
    margin-bottom: 20px ;
    color: #fff;
}

.caja_form {
    background-color: transparent ;
    padding: 20px 0 ;  
    max-width: 600px ;
    margin: auto ;
    box-shadow: 0 0 40px #8884 ;
    border-radius: 40px ;
    margin-top: 50px ;;

}

.div_input {
    padding: 6px 20px ;
}


input , textarea {
    min-width: 100% ;
    box-sizing: border-box ;
    padding: 6px 12px ;
    border: none ; 
    border-left: 3px solid #070 ;
    border-radius: 18px ; 
    box-shadow: 0 0 20px #ccc4 ;
    font-family: monospace ;
    font-size: 1.6em ;
    transition:  0.5s ; 
    font-weight: bold ;
    margin-top: 20px ;
    background-color: transparent ;
    color: #ddd;
    text-align: center;
}

textarea {
    min-width: 100% ;
    /* min-height: 200px ; */
    max-height: 400px ;
    font-family: sans-serif ;
    font-size: large;
    resize: none ;
    text-align: left ;

}











