<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url('static', filename= 'style.css') }}"> -->
    <link rel="stylesheet" href="static/style.css">
    <title>Home</title>
</head>
<body>
    <div class="Fondo">

        <div class="Contenido">

            <input class="inputs" type="text"    ><br>
            <input class="inputs" type="password"><br>
            <input class="inputs" type="email"   >

        </div>
    </div>
</body>
</html>