input {
    margin: 30px;
    padding: 5px;
    border: none;
    border-bottom: 1px  solid greenyellow; 
    background-color: transparent;
    color: greenyellow;
    border-radius:20px;
    box-shadow: 1px 1px 45px greenyellow;
}

body {
    background-color: black;
}



















