body, html {
    margin: 0;
    
}
img {
    border: 1px solid #fff;
    border-radius: 100%;
}

span {
    font-size: 30px;
    font-weight: bold;
}

div {
    height: 75%;
    width: 75%;
    background: #93b6eb84;
}


p {
    font-size: 22px;
    font-weight: 700;
    font-family:  monospace , Courier;
    line-height: 1.6;
    text-align: center;
}

button {
    height: 50px;
    width: 200px;
    border: 2px solid rgb(22, 109, 58);
    border-radius: 10px;
}





















