<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="Fondo">

         <div class="contenido">
            <h1>!Welcome!</h1>
            <input class="input" type="text" placeholder="Name..."><br>
            <input class="input" type="password" placeholder="Password..."><br>
            <input class="input" type="email" placeholder="Gmail..."><br>
        </div>
    </div>
</body>
</html>


























